/*
* Reset of styling
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

img.height {
  height: 400px;
}

html {
  --background: #09030f;
  --margin-bottom: 40px;
  --text: #d3d8f0;
  --medium-grey: #60657c;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--background);
}

main {
  padding: 0 20px;
}

@media (min-width: 800px) {
  main {
    max-width: 1100px;
    margin: 30px auto;
  }
}

.bottom {
  padding: 0 20px;
}
@media (min-width: 800px) {
  .bottom {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.linje {
  border-top: 2px solid var(--medium-grey);
  margin-bottom: 50px;
}

@media (min-width: 800px) {
  .linje {
    display: none;
  }
}

ul {
  list-style: none;
}

.white {
  background: #fff;
  margin-top: 10px;
  height: 285px;
}

h1 {
  font-size: 32px;
  margin: 30px 0;
  color: var(--text);
  text-align: center;
}

@media (min-width: 800px) {
  h1 {
    font-size: 46px;
    margin: 40px 0;
  }
}
h1.stor {
  font-size: 14rem;
  margin: 0 auto;
  font-weight: normal;
}

h1.stor {
  font-size: 5rem;
  color: var(--text);
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 800px) {
  h1.stor {
    font-size: 14rem;
    margin: 0 auto;
    font-weight: normal;
  }
}

h2 {
  font-size: 26px;
  color: var(--text);
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  color: var(--text);
  font-size: 24px;
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  color: var(--text);
  font-size: 22px;
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  color: var(--text);
  font-size: 20px;
  margin: 10px 0px 5px 0px;
}

p {
  font-size: 16px;
  color: var(--text);
  margin-bottom: 10px;
  line-height: 1.6;
}

p.margin {
  margin-bottom: 0px;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

a {
  font-size: 16px;
  color: var(--text);
  transition: opacity 0.2s;
}
a:hover {
  opacity: 0.5;
}

/*
* Header
*/
header {
  position: sticky;
  top: -1px;
  z-index: 10;
  background: var(--background);
}

header a {
  text-decoration: none;
  font-size: 24px;
}

header nav {
  display: flex;
  padding: 20px 40px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: auto;
  gap: 50px;
}

header nav ul li {
  margin: auto;
}

header nav ul li a.active {
  color: var(--medium-grey);
  opacity: 0.6;
}

header nav ul li a:hover {
  color: var(--medium-grey);
  opacity: 0.6;
}

/*
* Dropdown
*/
.dropdown {
  display: flex;
  flex-direction: column;
  display: inline-block;
}

@media (min-width: 800px) {
  .dropdown {
    position: relative;
    flex-direction: row;
  }
}
.dropdown svg {
  height: 20px;
  width: 20px;
}

/* Style for the dropdown button */
.dropdown-btn {
  cursor: pointer;
  margin: 0;
  font-size: 24px;
}

.dropdown-btn svg {
  transition: all 0.4s ease-in-out;
}

.dropdown-btn:hover svg {
  transform: rotate(180deg);
}

/* Style for the dropdown content */
.dropdown-content {
  display: block;
  position: relative;
  top: 4%;
  left: 0;
}

@media (min-width: 800px) {
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: -5px;
    padding: 10px 0;
    background: var(--background);
  }
}

.dropdown-content a {
  font-size: 20px;
  padding: 12px 16px;
}

.dropdown-content a.active {
  display: block;
  color: #60657c;
  opacity: 0.6;
}

/* Style for the dropdown items */
.dropdown-item {
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.logo img {
  width: 40px;
  display: block;
}

/*
* Burgermenu
*/
@media (max-width: 800px) {
  .inner-header {
    display: flex;
    margin-right: auto;
  }

  .burger-menu {
    margin-left: auto;
  }
  .active-show {
    display: none;
  }

  .active-show ul {
    list-style: none;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
    gap: 20px;
  }

  .active-show li {
    margin-bottom: 10px;
  }
  .active-show a {
    text-decoration: none;
    color: var(--text);
    font-size: 24px;
  }

  .menu-icon {
    display: inline-block;
    cursor: pointer;
    margin: 10px 20px;
  }

  .bar {
    width: 35px;
    height: 3px;
    background: var(--text);
    margin: 6px 0;
    transition: 0.4s;
  }

  .menu-opened .active-show {
    display: flex;
    position: absolute;
    background: var(--background);
    width: 100%;
    margin-top: -2px;
  }

  .menu-opened .bar-1 {
    display: none;
  }

  .menu-opened .bar-2 {
    transform: rotate(-45deg) translate(-5px, 6px);
    margin-top: 10px;
  }

  .menu-opened .bar-3 {
    transform: rotate(45deg) translate(-5px, -6px);
    margin-top: 12px;
  }
}
.order {
  order: -1;
}
@media (min-width: 800px) {
  .order {
    order: inherit;
  }
}

/*
* hero
*/
.hero {
  height: 20vh;
  margin-top: 40px;
}

@media (min-width: 800px) {
  .hero {
    margin: 0;
    height: 85vh;
  }
}

.arrow-down a:hover {
  animation-name: bounce_kf;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes bounce_kf {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow-down {
  display: none;
}

@media (min-width: 800px) {
  .arrow-down {
    display: flex;
    position: absolute;
    left: 47.5%;
    bottom: 2%;
  }
}

.arrow-down a {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .temabeskrivelse {
    padding: 30px;
    max-width: 750px;
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  #underside {
    padding-top: 100px;
  }
}

.top {
  margin-bottom: 40px;
}

@media (min-width: 800px) {
  .top {
    margin: 0;
    height: 80vh;
  }
}

.social {
  display: flex;
  flex-direction: column;
}

.info {
  margin: 0 auto;
  display: flex;
}
@media (min-width: 800px) {
  .info {
    margin: inherit;
  }
}

.social .info a {
  margin-left: 5px;
}

.icons .icon svg {
  margin-top: 10px;
  border: 2px solid #60657c;
  border-radius: 6px;
  padding: 5px;
  height: 32px;
  width: 32px;
}

.icons .icon svg:hover {
  border-color: var(--medium-grey);
}

.inner-footer .footer-logo {
  margin: 0 auto;
  width: 80px;
}

@media (min-width: 800px) {
  .inner-footer .footer-logo {
    margin: inherit;
  }
}

.inner-footer .footer-logo img {
  border: 1px solid var(--text);
  border-radius: 100%;
}

footer li,
a {
  font-size: 20px;
}

.copyright {
  display: flex;
  color: var(--text);
  padding: 20px;
  background: var(--background);
}

.copyright p {
  opacity: 0.6;
}

/*
* Forside
*/
.temaer {
  margin-bottom: var(--margin-bottom);
  padding-top: 80px;
  gap: 60px;
}

.tema {
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
}

.tema {
  text-decoration: none;
}

.tema:hover {
  animation-name: scale_kf;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes scale_kf {
  from {
    scale: 1;
  }

  to {
    scale: 1.1;
  }
}

.tema p {
  font-size: 30px;
}

.link {
  height: 300px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .link {
    width: 60%;
    height: 400px;
  }
}

.web {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/mincomputer.webp);
}

.ux {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/hyggebillede1.webp);
}

.animation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/spil-baggrund.webp);
}

.indhold {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/billede1.webp);
}

.visitkort {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/visitkort.webp);
}

.kaeledyr {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/kæledyr.webp);
}

.studie {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/web2.webp);
}

.espressotools {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/ux2.webp);
}

.presentation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/presentation.webp);
}

.animation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/spil-baggrund.webp);
}

.videosite {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/videosite.webp);
}

.virksomhedssite {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../images/virksomhedssite.webp);
}

.forside img {
  height: 300px;
  object-fit: contain;
}

@media (min-width: 800px) {
  .forside img {
    height: 500px;
  }
}

.cv {
  align-items: center;
}

.cv h1 {
  margin-top: 0;
}

.cv-underside .box {
  border: 1px solid var(--medium-grey);
  padding: 20px;
  border-radius: 16px;
  box-shadow: -2px -2px 21px 9px var(--medium-grey);
}

.image-text .text-wrapper {
  color: var(--text);
}

.side-link {
  font-size: 24px;
}
.side-link a {
  font-size: 24px;
}

.image-wrapper .image {
  margin-bottom: 20px;
}

.image-wrapper .image h3 {
  margin-bottom: 10px;
}

.ux-underside img {
  object-fit: cover;
}

/*
* Animation
*/
.image-grid {
  display: grid;
  gap: 30px;
}

.image-animation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 0 auto;
}

.image-animation img {
  height: 100px;
  width: 100px;
}

@media (min-width: 800px) {
  .image-animation img {
    height: 140px;
    width: 140px;
  }
}

.image-wrapper {
  gap: 20px;
  display: grid;
}

/*
* Footer
*/
footer {
  margin-top: 150px;
  padding: 50px;
  border-top: 2px solid var(--medium-grey);
  background: var(--background);
}

footer h4 {
  margin-bottom: 10px;
  color: var(--text);
}

@media (min-width: 800px) {
  footer h4,
  .icons {
    text-align: left;
  }
}

footer ul {
  list-style: none;
}

footer li {
  margin-bottom: 10px;
}

footer p {
  color: #60657c;
  font-weight: bold;
  color: var(--text);
  font-size: 20px;
}

footer a {
  text-decoration: none;
  color: #60657c;
  line-height: 1.6;
}

footer a:hover {
  color: var(--medium-grey);
}

@media (min-width: 800px) {
  .nav {
    text-align: left;
  }
}
